<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda - Login</title>
</head>

<body>
    <div align="center">
        <form action="submit" method="POST">
            {% csrf_token %}
            <h1>LOGIN</h1>
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Senha:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </form>

        {% for message in messages %}
            <div align="center">
                <strong>Erro: </strong> {{ message }}
            </div>    
        {% endfor %}

    </div>
</body>

</html>